@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Thinoo-bold';
    src: url('../fonts/thinoobold.otf');
}
@font-face {
    font-family: 'Thinoo-thin';
    src: url('../fonts/thinoothin.otf');
}
* {
    font-family: 'Thinoo-thin';
}
.fp-watermark a{
    display: none !important;
}
.App{
    background-color: #0E0B0D;
    color: #fff;
}
.hover-under:after {
    display:block;
    content: '';
    border-bottom: solid 1px #fff;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.hover-under:hover:after { transform: scaleX(1); }